@import-once "boostrap";
html {
  height: 100%;
}

body {
  height: 100%;
}

header {
  overflow: hidden;
  background-color: darkblue;
  color: white;
  h1 { float: left; }
  nav { float: right; }
}

#area-listing {
  display: inline-block;
  float:left;
  width: 50%;
}

#map-canvas {
  display: inline-block;
  float:left;
  width: 50%;
  height: 600px;
}
