!!!

%head
  %script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript")
  %script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCw3rIl3mVnfM3kIidvav89kSFcYlAfJJM&sensor=true" type="text/javascript")
  %link(href="http://fonts.googleapis.com/css?family=Quicksand:300,400" rel="stylesheet" type="text/css")
  != css :application, :media => 'screen'
  != js :app
  %meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
  %title 7 Steps to Answered Prayer

%body
  %header
    %h1 7 Steps To Answered Prayer
    %nav
      %ul
        %li Home
        %li FAQ
  = yield
