!!!

%head
  %script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript")
  != css :application, :media => 'screen'
  != js :app
  %meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
  %title 7 Steps to Answered Prayer

%body
  %header
    %h1 7 Steps To Answered Prayer
    %nav
      %ul
        %li Home
        %li FAQ
  = yield
